.idea-card {
  height: 300px;
  background: #fab3b3;
  border-radius: 15px;
  margin: 8px;
}

.idea-card:hover {
  background: #7403b9;
}

.idea-card__link {
  padding: 48px;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
}

.idea-card__link > h1 {
  color: #7403b9;
}

.idea-card__link > p {
  color: black;
}

.idea-card__link:hover > h1, 
.idea-card__link:hover > p {
  color: #fab3b3;
}
