.form-container {
  background: rgba(255, 230, 255, 0.5);
  height: 80%;
  width: 80%;
  margin: 20px auto 0px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.new-idea-title {
  text-align: center;
  color: #5397cf;
}

.errors {
  text-align: center;
  margin: 0 auto 10px auto;
  width: 80%;
  background: rgb(248, 58, 58);
  border-radius: 10px;
  color: white;
  padding: 2px 0 2px 0;
}

.new-idea-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.input-label {
  font-size: 1.2rem;
}

.input,
.content {
  margin-bottom: 20px;
}

.input {
  width: 50%;
}

.content {
  height: 50%;
  width: 80%;
  resize: none;
}

