.main-header {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  position: relative;
  z-index: 1;

}

.main-header img {
  margin: 10px 0 10px 10px;
  width: 100%;
  border-radius: 10px;
}

.img-link {
  width: 10%;
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-bottom: 10px; 
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.nav-item a:hover {
  color: rgb(237, 200, 212);
}

.nav-item a.active {
  color: purple;
}

.hamburger__icon {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;

}

@media screen and (max-width: 768px) {
  .hamburger__icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: lightblue;
    /* display: none; */
  }

  .nav-item {

    margin: 0px auto 10px auto;
  }
}

