.leave-comment {
  text-align: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-content {
  height: 100px;
  width: 50%;
  resize: none;
  margin-bottom: 20px;
}